{% extends "base.html" %}


{% block carousel %}
		<img src="/static/{{STATIC_URL}}images/b.jpg" alt="Second Image" class="d-block w-100"  />
	
	{% endblock carousel %}


{% block content %}

	
	<h1 class="display-1">Biography Here!</h1>
	
	<p class="lead"> 
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tristique turpis justo, id consectetur ex consectetur eu. Nunc suscipit, diam ut egestas posuere, urna tellus varius nisl, id condimentum tortor tortor vitae nisi. Mauris ut porta purus. Etiam accumsan fringilla risus, in lacinia odio pulvinar non. Nam non euismod eros. Phasellus euismod auctor quam eget fermentum. Suspendisse cursus nisi ut risus accumsan luctus ut quis justo. Donec ac pellentesque lorem, ut suscipit tellus.

Vivamus id massa a est imperdiet consequat sed molestie felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque non orci nunc. Vivamus ac mi leo. Ut scelerisque fermentum sem nec gravida. Fusce in quam tempus, facilisis nisl sed, blandit mi. Maecenas sed sem fringilla, imperdiet leo sit amet, porttitor sapien. Nunc venenatis mi vel arcu placerat venenatis. Aenean vestibulum porttitor efficitur.

Proin tincidunt eros vitae nisi consectetur, vel efficitur orci tempor. Sed in viverra elit, eget blandit ipsum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut tincidunt viverra augue ac vulputate. Sed erat massa, tincidunt nec dui eu, ultrices molestie metus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In at enim euismod, volutpat lorem eget, fermentum ex. Nunc vitae urna quis lacus ultricies ullamcorper eu sit amet turpis.

Nunc at molestie erat. Nulla mauris nunc, malesuada vitae nisi a, eleifend convallis augue. Ut aliquam mauris pulvinar ipsum imperdiet, sit amet dapibus quam venenatis. Sed ultricies lacus quis purus faucibus mollis. Curabitur eros dui, ullamcorper ut lorem non, egestas porttitor neque. Integer cursus ut nulla sit amet scelerisque. Ut suscipit vitae lorem et fringilla.

Quisque condimentum sem a augue rutrum, vel elementum ligula posuere. Phasellus mattis ex ac risus scelerisque semper a vel mauris. Cras non neque ante. Cras pretium nibh est, vel efficitur sem rhoncus in. Aenean elit enim, dapibus a finibus vitae, pretium hendrerit nibh. In hac habitasse platea dictumst. Vivamus blandit bibendum fringilla. Curabitur congue nisi vitae risus mollis pellentesque.
	
	
	<p/>


{% endblock %}