{% extends "base.html" %}

{% block content %}
	
	
	
	
	
	<div class="container">
	  <div class="row">
		<section class="col-sm-12  ">
				<h1 class="display-1">The homepage here!</h1>
				
				<p class="lead">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et turpis consectetur, auctor risus quis, tristique ligula. Maecenas sit amet aliquam augue, sed pharetra erat. Mauris at hendrerit dui. Integer ac lectus cursus nunc ultrices congue. Sed tempus, lectus a egestas efficitur, ex sem ultricies augue, vel consectetur eros purus sit amet neque. Aenean quis dolor ac enim fermentum viverra. Aliquam varius libero tellus, sed aliquam velit pharetra quis.

Etiam a interdum orci. Maecenas quam lorem, ultrices sit amet placerat elementum, condimentum semper augue. Praesent feugiat non felis in porta. Proin tempus tellus ut ante laoreet, quis mattis nisi laoreet. Nullam eget lacinia odio, porta bibendum mauris. Duis congue molestie mauris, sed porta eros luctus ac. Donec id ultricies dui, sed tincidunt mi. Donec imperdiet ante ut lacus semper, sagittis tempus est viverra. Mauris suscipit libero velit, vitae tincidunt tellus suscipit et. Sed consectetur rutrum interdum.

Duis tempus ut tellus in tempus. Pellentesque eu convallis sem, at porta eros. Aliquam odio diam, fringilla sit amet finibus malesuada, dapibus quis libero. Mauris imperdiet faucibus condimentum. Aliquam dui leo, efficitur nec justo nec, posuere tristique velit. Praesent auctor, ex sit amet commodo lacinia, justo nibh vehicula nunc, at sodales metus ipsum consectetur sem. Sed sit amet hendrerit mauris, vehicula mattis leo.

Nam placerat erat sed eros tincidunt, a blandit eros placerat. Pellentesque pretium lorem quis sapien viverra, non porta diam viverra. Nam malesuada, est et rhoncus bibendum, tortor lacus accumsan felis, vitae tristique ligula ligula quis felis. Quisque elementum, neque quis aliquam convallis, dui erat tempus metus, ut consequat massa risus eget odio. Integer vel eros interdum, aliquet neque sit amet, elementum ex. Quisque mollis pellentesque commodo. Mauris a ante ac enim venenatis pellentesque. Fusce semper lectus at augue gravida tincidunt at nec erat. Donec urna mauris, euismod eget ultrices sit amet, dapibus non eros. Phasellus ornare non magna vitae consequat. In nunc ligula, vulputate a bibendum eget, tempor in sem. Fusce sed tortor et risus tristique ornare. Quisque eleifend dignissim tristique. Donec scelerisque condimentum sagittis. Sed non finibus odio, vulputate pulvinar nunc.

Etiam sed quam a felis pretium rutrum et ut odio. Proin eros augue, fringilla at vulputate nec, venenatis nec massa. Sed purus quam, sagittis in gravida eu, pellentesque quis felis. Fusce quis eros sed lectus placerat iaculis. Morbi hendrerit augue scelerisque, semper libero vitae, porttitor ex. Pellentesque nec ultrices eros. Proin tincidunt turpis tellus, non maximus purus bibendum ut. Suspendisse consectetur aliquet est, vel maximus leo ultricies eu. Donec ornare imperdiet ante. Duis at orci at enim facilisis tempor varius quis metus. Aliquam varius urna vel magna fringilla luctus. Nunc sem lorem, consectetur vitae maximus vel, scelerisque ac est. Quisque euismod, orci a interdum placerat, eros mauris pretium ante, at imperdiet eros est at erat.




				</p>
				
				
		<p><a href="{% url 'tribute_add' %}" class="btn btn-lg btn-dark btn-lg fa fa-commenting-o"> Add a Tribute </a>
	
	<a href="{% url 'memory_add' %}" class="btn btn-lg btn-dark btn-lg fa fa-comments-o">  Share a Memory </a>
		
	<a href="{% url 'photo_add' %}" class="btn btn-lg btn-dark btn-lg fa fa-camera"> Share a Photo </a></p>
		

	</section>
	</div>
	</div>	
	
	
	
	
	

{% endblock %}