{% extends "base.html" %}

	{% block navigation %}
			<div class="container" style="font-size:22px; font-family:Oleo Script, cursive;">
			<div class="row">
				<section class="col-sm-12 col-md-12  col-lg-12 ">
					   <!--Navbar-->
					<nav class="navbar navbar-expand-lg navbar-dark black navbar-fixed navbar-light mb-4">

					    <!-- Navbar brand -->
					   <!--  <a class="navbar-brand" href="#">icon</a>

					    <!-- Collapse button -->
					    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
					        aria-expanded="false" aria-label="Toggle navigation">
					        <span class="navbar-toggler-icon"></span>
					    </button>

					    <!-- Collapsible content -->
					    <div class="collapse navbar-collapse" id="basicExampleNav">

					        <!-- Links -->
					        <ul class="navbar-nav mx-auto nav-fill w-100 ">
					            <li class="nav-item ">
					                <a class="nav-link pr-5 " href="{% url 'homepage' %}">Homepage
					                    <span class="sr-only">(current)</span>
					                </a>
					            </li>
					            <li class="nav-item ">
					                <a class="nav-link pr-5" href="{% url 'biography' %}">Biography</a>
					            </li>
					            <li class="nav-item">
					                <a class="nav-link pr-5 " href="{% url 'tribute_list' %}">Tribute</a>
					            </li>
					            <li class="nav-item">
					                <a class="nav-link pr-5 " href="{% url 'memory_list' %}">Memories</a>
					            </li>								
					            <li class="nav-item active">
					                <a class="nav-link pr-5 "href="{% url 'photo_list' %}">Photos</a>
					            </li>
					            
					        
					        
							</ul>
					        <!-- Links -->
					    </div>
					    <!-- Collapsible content -->

					</nav>
					<!--/.Navbar-->
				</section>
			</div> <!--nav-->
		</div>
	{% endblock navigation %}












{% block content %}
	
	<div class="container ">
	<div class="row">
	<div class="col-sm-10 offset-sm-1 review-nodule jumbotron" id="view-review">
	<a href="{% url 'photo_list' %}" class="btn btn-dark btn-lg fa fa-arrow-left"> </a>


	
	<div class="col-sm-8 offset-sm-2">
	<h1 ><span style="font-family:sans-serif; font-size:32">{{ photo.name |capfirst }}</span></h1>
		
	
	{% if photo.image %}
		<div class="container">
		<div class="row">
		<div class="col-sm-8">
	<p><a href="/media/{{ MEDIA_URL }}{{ photo.image }}" data-lightbox="gallery">
		<img src="/media/{{ MEDIA_URL }}{{ photo.image }}"   alt="Photo Share" width="300" height="300px" class="img-rounded img-responsive pull-right view zoom">
	</a></p>
	</div>
	{% endif %}
	

	


</div>	









	</div>

</div>
</div>
	
{% endblock %}