{% extends "base.html" %}

	{% block navigation %}
		<<div class="container">
			<div class="row">
				<section class="col-md-12 ">
					   <!--Navbar-->
					<nav class="navbar navbar-expand-lg navbar-dark black navbar-fixed navbar-light fixed-top">

					    <!-- Navbar brand -->
					   <!--  <a class="navbar-brand" href="#">icon</a>

					    <!-- Collapse button -->
					    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
					        aria-expanded="false" aria-label="Toggle navigation">
					        <span class="navbar-toggler-icon"></span>
					    </button>

					    <!-- Collapsible content -->
					    <div class="collapse navbar-collapse" id="basicExampleNav">

					        <!-- Links -->
					        <ul class="navbar-nav mx-auto">
					            <li class="nav-item ">
					                <a class="nav-link pr-5 pl-5" href="{% url 'homepage' %}">Homepage
					                    <span class="sr-only">(current)</span>
					                </a>
					            </li>
					            <li class="nav-item  ">
					                <a class="nav-link pr-5 pl-5" href="{% url 'biography' %}">Biography</a>
					            </li>
					            <li class="nav-item active">
					                <a class="nav-link pr-5 pl-5" href="{% url 'tribute_list' %}">Tribute</a>
					            </li>
					            <li class="nav-item">
					                <a class="nav-link pr-5 pl-5" href="{% url 'memory_list' %}">Memories</a>
					            </li>								
					            <li class="nav-item">
					                <a class="nav-link pr-5 pl-5"href="{% url 'photo_list' %}">Photos</a>
					            </li>
					            
					        
					        
							</ul>
					        <!-- Links -->
					    </div>
					    <!-- Collapsible content -->

					</nav>
					<!--/.Navbar-->
				</section>
			</div> <!--nav-->
		</div>
	{% endblock navigation %}



























	{% block carousel %}
		<img src="/static/{{STATIC_URL}}images/corousel-02.jpg" alt="Second Image" class="d-block w-100"  />
	
	{% endblock carousel %}



{% block content %}


	<h3 class="display-1" align="center">Tribute List</h3>
	<div class="container">
	  <div class="row">

		{% for tribute in tributes %}
		 {% if tribute.approved %}
		
		<div class="col-md-8 jumbotron offset-md-2">
			
			<h1 class="display-4">{{ tribute.name|capfirst }}</h1>
			 
				{% if tribute.image %}
					<p><img src="/media/{{ MEDIA_URL }}{{ tribute.image }}"   alt="Default Image for tribute" width="200" class="img-rounded img-responsive">

					
			
					</p>
				{% endif %}
					<p class="lead" >{{ tribute.message |capfirst | truncatewords:"50" }}</p>
					<a href="{% url 'tribute_details' tribute.id %}" class="btn btn-md btn-dark btn-lg fa fa-comments-o"> Read More </a>
					
					<p class="h4"><b>{{ tribute.posted_on |date:"D d M Y" }}</b></p>
			
		
		</div>
		 {% endif %}
		{% endfor %}
		</div></div>
	</div>


{% endblock %}